@font-face{
           font-family:"Cousine" ;
           src:url("/assets/fonts/Cousine-Regular.ttf") format("truetype");
           font-weight: normal;
           
}

*{ 
    margin:0;
    box-sizing: border-box;
}

body{
     font-family:"Cousine";
     color: #333333;
     background-color: rgb(241,248,248);
     line-height: 1.7;
}

header{
       background-color:  #acc2d8;
       text-align: center;
       padding: 40px 20px;
}

.menu-navegacao{
                background-color: rgb(4, 4, 59);
                padding:15px;
                border-bottom: 2px solid rgb(45, 131, 202);
                position: fixed;
                top:0;
                left:0;
                width: 100vw;
                z-index:100;

}

.menu-navegacao a{
                margin:0;
                color:whitesmoke;
                text-decoration: none;
                font-weight: bold;
            }

.menu-navegacao a:hover,.ativo{
       border-bottom: 2px solid #97b5c7;
       background-color: rgb(36, 107, 170);
       padding: 10px;
       border-radius: 10px;
       transition:0.10s;
       margin-left: 20px;
}

h1{
       color:rgb(4, 4, 59);
       font-size: 2.2rem;
       margin:0 0 10px;
}

section{ 
       padding:40px 40px 20px 20px;
       max-width: 800px;
       margin:0 auto;
}
/* classe para espaçamento superior na imagem */
.foto{
       margin-top: 20px;
}

.secao-dois{
           background-color: #dbe8f0;
           max-width:100% ;
}

.container-central{
           max-width:800px ;
           margin:0 auto;
}

h2{
       color:rgb(31, 42, 136);
       border-left: 4px solid rgb(15, 154, 235);
       padding-left: 15px;
}

ul{
       list-style:none ;
       padding: 0;
       margin-top: 15px;
}

li{
       background-color: #97b5c7;
       padding: 12px 18px;
       margin-bottom: 8px;
       border-radius: 25px;
       border-left: 5px solid rgb(8, 8, 119);
}

footer{
       background-color: rgb(4, 4, 59);
       color:white;
       text-align: center;
       cursor:default;
       padding-top: 15px;
}

.botao{
       display: inline-block;
       background-color: #97b5c7;
       color: rgb(4, 4, 59);
       padding: 8px 15px;
       border-radius: 25px;
       text-decoration: none;
       font-weight: bold;
       margin:15px 0;
}

li:hover,.botao:hover{
            background-color: Turquoise;
            cursor:pointer;
}

span{
       font-weight: bold;
       font-size: 15px;
       color:rgb(247, 248, 248);
}
