@font-face{
           font-family:"Cousine" ;
           src:url("/assets/fonts/Cousine-Regular.ttf") format("truetype");
           font-weight: normal;
           
}

*{ 
    margin:0;
    box-sizing: border-box;
}

body{
     font-family:"Cousine";
     color: #333333;
     background-color: rgb(241,248,248);
     line-height: 1.7;
}

header{
       background-color:  #acc2d8;
       text-align: center;
       padding: 40px 20px;
}

.menu-navegacao{
                background-color: rgb(4, 4, 59);
                padding:15px;
                border-bottom: 2px solid rgb(45, 131, 202);
                position: fixed;
                top:0;
                left:0;
                width: 100vw;
                z-index:100;

}

.menu-navegacao a{
                margin:0;
                color:whitesmoke;
                text-decoration: none;
                font-weight: bold;
            }

.menu-navegacao a:hover,.ativo{
       border-bottom: 2px solid #97b5c7;
       background-color: rgb(36, 107, 170);
       padding: 10px;
       border-radius: 10px;
       transition:0.10s;
}

h1{
       color:rgb(4, 4, 59);
       font-size: 2.2rem;
       margin:0 0 10px;
}

